[Desktop Entry]
Name=Labelme YTU
Comment=Image Polygonal Annotation with Python
Exec=labelme-ytu
Icon=labelme
Terminal=false
Type=Application
Categories=Graphics;RasterGraphics;
